body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  margin: 0;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.landing {
  text-align: center;
  margin-top: 120px;
}

.btn {
  padding: 12px 25px;
  background: #00c6ff;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.box, .card {
  background: white;
  color: black;
  width: 360px;
  padding: 25px;
  margin: 30px auto;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
}

button {
  background: #243b55;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  animation: fadeUp 0.7s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
